@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400&display=swap');
body{
    background-color:rgb(56, 62, 109);
}
#main{
    background-color: rgb(44, 35, 85);
    border-radius: 8px;
    width:clamp(290px, 50%, 51%);
    font-size: clamp(10px, 12px, 13px);
    margin:100px auto;
    padding:20px;
    animation:bounce .5s;
}
*{
    font-family: Poppins, sans-serif;
    box-sizing:border-box;
}
input{
    width:75%;
    height:40px;
    border-radius: 7px;
}
#check{
    width:25%;
    height:40px;
    border-radius: 7px;
    transition:background-color .5s, translateY(-10px) .5;
    background-color: blue;
}
#check:hover{
    background-color: lightblue;
    transition:background-color .5s, translateY(-10px) .5;
}
@keyframes bounce {
    0%{
        transform:translateY(-80px);
    } 
    
    50%, 100% {
      transform: translateY(0px);
    }
    
    
    70% {
      transform: translateY(-10px);
    }
  }